<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Contact Dr. Besing
      </div>
      <div class="panel-body">
        <address>
          <strong>Kyle E. Besing</strong><br>
          Kentucky Wesleyan College<br>
          Owensboro, KY 42301<br>
        </address>
        <address>
          <strong>Other Contact Information</strong><br>
          Office: Hahn 210<br>
          Phone: 270-852-3161<br>
          email: <a href="mailto:kbesing@kwc.edu">kbesing@kwc.edu</a>
        </address>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Course Information
      </div>
      <div class="panel-body">
        <dl class="dl">
          <dt>Class Meetings:</dt>
          <dd>MWF 10:00 am in ADM 210</dd>
        </dl>
        <dl class="dl">
          <dt>Office Hours:</dt>
          <dd>TBA</dd>
        </dl>
      </div>
    </div>
  </div>
</div>
